{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json", "./bin/tsconfig.json"],
    "ecmaVersion": 2022,
    "sourceType": "module",
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "extends": [
    "plugin:@typescript-eslint/recommended-type-checked"
  ],
  "plugins": [
    "@typescript-eslint",
    "no-unsanitized"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es2022": true
  },
  "settings": {
    "react": {
      "version": "999.999.999"
    }
  },
  "rules": {
    "semi": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"],
    "quotes": ["error", "single"],
    "indent": 0,
    "no-trailing-spaces": "error",
    "eol-last": "error",
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "never"],
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_", "ignoreRestSiblings": true }],
    "@typescript-eslint/consistent-type-imports": "error",
    "no-multiple-empty-lines":["error", { "max": 1, "maxEOF": 1, "maxBOF": 0 }],
    "no-console": "off",
    "no-unsanitized/method": "error",
    "no-unsanitized/property": "error",
    "@typescript-eslint/no-misused-promises": ["error", { "checksVoidReturn": false }]
  }
}